*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #ebe9e9;
}

#gameContainer{
    text-align: center;
    height: 100vh;
}

#game{
    height: 100%;
    width: 100%;
}

#gameBoard{
    border: 3px solid;
    width: 100%;
}

#scoreText{
    font-size: 60px;
}

#resetButton{
    font-size: 22px;
    width: 80px;
    height: 40px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

.joystick{
    width: 150px;
    height: 150px;
    margin: 40px auto;
    position: relative;
}

.arrow{
    width: 35px;
    height: 35px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.arrow__up{
    position: absolute;
    top: 25px;
    left: 50%;
}

.arrow__right{
    position: absolute;
    top: 70px;
    left: 80%;
}

.arrow__left{
    position: absolute;
    top: 70px;
    left: 20%;
}

.arrow__down{
    position: absolute;
    top: 115px;
    left: 50%;
}

@media screen and (min-width: 500px) {

    .joystick{
        margin: 0 auto;
    }

}