@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  height: 100vh;
  backdrop-filter: blur(3px);
  background-position: center center;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 100px;
  width: 100vw;
  background: rgb(255, 255, 255);
  color: black;
}

nav::after {
  content: "";
  height: 2px;
  width: 80%;
  background: rgb(54, 54, 54);
  position: absolute;
  top: 80px;
}

.title {
  margin: auto;
  display: flex;
}
.hamburger {
  margin: auto 20px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}
h1 {
  padding: 10px;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav-content {
  margin: auto;
  font-size: 24px;
}

.nav-content a {
  margin-right: 80px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
  border-radius: 3000px;
}

.nav-content a:hover,
.nav-left a:hover {
  background: rgba(128, 128, 128, 0.49);
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 800px;
  width: 100vw;
  background: rgb(255, 255, 255);
}

.photo {
  width: 30%;
}
.photo img {
  margin: auto;
  height: 300px;
  width: 300px;
  border-radius: 1000px;
}

.description {
  width: 70%;
  height: 100%;
  display: flex;
  text-align: justify;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 24px;
  text-transform: uppercase;
}

#git {
  color: blue;
}

.nav-left {
  position: absolute;
  z-index: 10;
  height: 100vh;
  width: 50%;
  background: rgba(245, 245, 245, 0.495);
  backdrop-filter: blur(3px);
  margin-left: -100%;
  transition: all 0.4s ease;
}

.description p {
  margin: 0 50px;
}

.mobile-menu {
  margin: 0;
}

.mobile-menu-off {
  margin-left: -100%;
}

.nav-left a {
  display: flex;
  margin: 20px 10px;
  font-size: 2rem;
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}

.anim-container {
  display: flex;
  height: 400px;
  width: 95%;
  margin: auto;
}

.grid-container {
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    " un un un "
    " deux deux trois "
    " quatre quatre trois "
    " cinq six six ";
}

#red {
  background: rgba(255, 64, 64, 0.77);
  grid-area: un;
}
#blue {
  background: rgba(58, 58, 255, 0.775);
  grid-area: deux;
}
#green {
  background: rgba(38, 138, 38, 0.744);
  grid-area: trois;
}
#pink {
  background: rgba(251, 202, 210, 0.782);
  grid-area: quatre;
}
#grey {
  background: rgba(128, 128, 128, 0.777);
  grid-area: cinq;
}
#orange {
  background: rgba(255, 186, 57, 0.767);
  grid-area: six;
}

.background-anim {
  height: 100%;
  width: 50%;
  background: rgba(172, 255, 47, 0.684);
  transform: scaleY(0);
  animation: anim 5s 0.5s ease-in-out;
  animation-iteration-count: 100;
  transform-origin: bottom;
}

footer {
  height: 1000px;
  width: 100vw;
  border: 2px solid black;
}

form {
  display: grid;
  height: 70%;
  width: 60%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "nom prenom"
    "area area"
    "submit submit";
}

textarea {
  grid-area: area;
  resize: none;
  padding: 10px;
}

input {
  width: 150px;
  height: 50px;
  margin: auto;
  padding: 10px;
}

#nom {
  grid-area: nom;
}

#prenom {
  grid-area: prenom;
}

#submit {
  grid-area: submit;
  border-radius: 300px;
}

@keyframes anim {
  100% {
    transform: scaleY(1);
  }
}

@media screen and (max-width: 1320px) {
  header {
    display: block;
    height: auto;
  }
  .photo {
    margin: auto;
    width: 100%;
  }

  .photo img {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .description {
    margin: auto;
  }
}

@media screen and (max-width: 1100px) {
  body {
    backdrop-filter: blur(5px);
  }

  .nav-content {
    display: none;
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 510px) {
  input {
    width: 100px;
  }
}

@media screen and (max-width: 400px) {
  .photo img {
    height: 250px;
    width: 250px;
  }
  .nav-left a {
    font-size: 1.5rem;
  }
}
