*{
    margin: 0;
    padding: 0;
}

body{
    background: #ebe9e9;
}

#gameContainer{
    margin: auto;
    text-align: center;
    width: 50%;
    height: 50%;

}

#gameBoard{
    margin-top: 20px;
    border: 3px solid;
    width: 80%;
}

#scoreText{
    font-size: 80px;
}

#resetButton{
    margin-bottom: 20px;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}

.joystick{
    width: 150px;
    height: 150px;
    margin: 50px auto;
    display: none;
    position: relative;
}

.arrow{
    width: 35px;
    height: 35px;
    background-color: black;
    transform: translate(-50%, -50%);
}

.arrow__up{
    position: absolute;
    top: 25px;
    left: 50%;
}

.arrow__right{
    position: absolute;
    top: 70px;
    left: 80%;
}

.arrow__left{
    position: absolute;
    top: 70px;
    left: 20%;
}

.arrow__down{
    position: absolute;
    top: 115px;
    left: 50%;
}

@media screen and (max-width: 500px) {

    .joystick{
        display: block;
    }

    #gameContainer{
        width: 100%;
    
    }

}